[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
pudb = "*"

[packages]
loguru = "*"
gunicorn = "*"
graphene = "*"
marshmallow = "*"
pytest = "*"
responder = {editable = true,git = "https://github.com/kennethreitz/responder.git"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
